* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: grey;
}
.container {
  max-width: 1360px;
  margin: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.top {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
.palette-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.palette-card {
  border-radius: 5px;
  padding: 10px;
  background: #fff;
  max-width: 220px;
}
.palette-color {
  width: 200px;
  height: 300px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.palette-hex {
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
}
.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
.bottom .random-btn {
  max-width: max-content;
  padding: 20px 90px;
  background: purple;
  border-radius: 5px;
  margin-bottom: 10px;
}
